# =========================
# DATABASE
# =========================
DATABASE_URL=postgres://postgres:postgres@localhost:5432/inventory

# =========================
# NEXT AUTH
# =========================
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# =========================
# API
# =========================
NEXT_PUBLIC_API_URL=http://localhost:3001

# =========================
# APP
# =========================
NODE_ENV=development